<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid bg">
  <div id="top-header"style="margin-top: 2%" >
    <div class="container">
      <div class="pull-left" style="margin-top: -20px" >
        <span>Welcome to My-Shop!</span>
      </div>
      <div class="pull-right">
        <ul class="header-top-links" style="text-align: right; margin-top: -20px ">
          <li><a href="#" >Store</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /top Header -->

  <div id="header">
    <div class="container">
      <div class="pull-left">
        <!-- Logo -->
        <div class="header-logo">
          <a class="logo" href="app.component.html">
            <img  src="../assets/img/My-Shop%20.png" >
          </a>
        </div>
        <!-- /Logo -->
        <!-- Search -->
        <div class="header-search">
          <form>
            <input class="input search-input" type="text" placeholder="Enter your  category">
            <button class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!-- /Search -->
      </div>
      <div class="pull-right">
        <ul class="header-btns">
          <!-- Account -->
          <li class="header-account dropdown default-dropdown">
            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
              <div class="header-btns-icon">
                <i class="fa fa-user-o"></i>
              </div>
              <a (click)="Onlogin()"> <strong class="text-uppercase " >Login </strong></a>
            </div>

          </li>
          <!-- /Account -->
          <!-- Cart -->

        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse" style="color: #F8694A">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My-Shoop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="cursorPointer" (click)="activeProduct()">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="cursorPointer" (click)="onProductsPromo()">Promotion</a></li>
          <li><a class="cursorPointer" (click)="onProductDispo()">Disponible</a></li>
        </ul>
      </li>
      <li><a routerLink="/Caddies">Caddy</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
   <ul class=" nav navbar-nav pull-right">
        <li>
          <a routerLink="/Caddies">
          <img class="img-circle img-thumbnail img-rounded" src="assets/img/panier.png" style=" height:30px">
          <span>{{caddyService.currentCaddyName}} | {{caddyService.getSize()}}</span>
          </a>
        </li>
   </ul>
  </div>
</nav>
<div  class="vertical-menu" style="margin-top: 3%; width: 800px;">
<div class="col-md-3">
  <a  > <strong style="color: #F8694A">categories</strong></a>
<ul class="list-group" *ngIf="categories" id="sidebar">
    <li  class="cursorPointer" *ngFor="let c of categories">
     <a [ngClass]="currentCategorie==c?'active':''" (click)="getProductsByCat(c)"> {{c.name}}</a>
    </li>
</ul>
</div>
  <div class="col-md-9">
  <router-outlet>

  </router-outlet>
  </div>

</div>
